p{
    color: blueviolet;
    font-size: 30px;
    background-color: aqua;
}
#para1{
    color: brown;
    font-size: 55px;
}
.para2{
    color: blueviolet;
    font-size: 20px;
}
*{
    padding: 20px;
}